body {
  background-color: rgb(214, 205, 214);
}

/* posts */
.post {
  letter-spacing: 2px;
  font-style: italic;
  font-size: 20px;
  color: rgb(150, 147, 143);
}
.post_title_content {
  letter-spacing: 1px;
  font-size: 25px;
  text-decoration: underline;
  color: rgb(82, 80, 79);
}
.post_text_content {
  /* letter-spacing: 1px; */
  font-size: 22px;
  color: rgb(82, 80, 79);
  margin-left: 30px;
}
.post_author_content {
  letter-spacing: 1px;
  font-style: italic;
  font-size: 22px;
  color: rgb(82, 80, 79);
}
.post_author {
  padding-left: 70%;
  padding-top: 10px;
}
.comments {
  letter-spacing: 2px;
  font-style: italic;
  font-size: 20px;
  margin-left: 40%;
  color: rgb(150, 147, 143);
}
.comment {
  font-style: italic;
  font-size: 20px;
  margin-left: 10%;
  color: rgb(39, 38, 37);
}
.comments_content {
  letter-spacing: px;
  font-size: 17px;
  color: rgb(82, 80, 79);
  margin-left: 40%;
  padding-right: 5%;
  line-height: 1.1;
  margin-top: 20px;
}
.every_post_table {
  background-color: rgb(250, 244, 250);
  /* border: 2px solid #1b1b1b; */
  width: 90%;
  height: 100%;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  margin: 3px;
  margin-left: -1%;
}
.open_post_table {
  background-color: rgb(250, 244, 250);
  /* border: 2px solid #1b1b1b; */
  width: 90%;
  height: 100%;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  margin: 10px;
  margin-left: 2%;
}

.dash {
  background-color: rgb(250, 244, 250);
  /* border: 2px solid #1b1b1b; */
  width: 20%;
  height: 100%;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  margin: 3px;
  margin-left: 2%;
}
/*====================== buttons============================== */
.buttonMore {
  /*MORE*/
  background-color: rgb(214, 205, 214);
  /* border: 2px solid #1b1d1b; */
  border-radius: 10px;
  letter-spacing: 1px;
  color: rgb(82, 80, 79);
  padding: 3px 35px;
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 19px;
}
.buttonMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonMore span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonMore:hover span {
  padding-right: 25px;
}
.buttonMore:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonMore:hover {
  background-color: #eeebeb;
  box-shadow: 0 17px 50px 0 rgba(24, 21, 21, 0.19);
}
/* =========================================================== */
/* from main page  */
.buttonGoToAuthorization {
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 35px;
  border-radius: 8px;
  font-size: 19px;
  margin-left: 72.5%;
  margin-top: 15px;
}
.buttonGoToAuthorization:hover {
  background-color: #1a74e9;
  box-shadow: 0 12px 16px 0 rgba(43, 47, 48, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.buttonGoToAuthorization:active {
  box-shadow: 0 5px rgb(240, 238, 238);
  transform: translateY(4px);
}
.buttonGoToAuthorization span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonGoToAuthorization span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonGoToAuthorization:hover span {
  padding-right: 25px;
}
.buttonGoToAuthorization:hover span:after {
  opacity: 1;
  right: 0;
}
/* =============================================================== */
.buttonReturn {
  /*RETURN*/
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  letter-spacing: 1px;
  padding: 3px 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 2%;
}
.buttonReturn:hover {
  background-color: #eeebeb;
  box-shadow: 0 10px 12px 0 rgba(15, 14, 14, 0.24),
    0 17px 50px 0 rgba(19, 16, 16, 0.19);
}
.buttonReturn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonReturn span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -80px;
  transition: 0.5s;
}
.buttonReturn:hover span {
  padding-left: 25px;
}
.buttonReturn:hover span:after {
  opacity: 1;
  right: 0;
}
/* =========================================================== */
.buttonLogin {
  /*LOGIN*/
  background-color: #07a70c;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 100px;
  letter-spacing: 1px;
  margin-left: 2%;
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 19px;
}
.buttonLogin span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonLogin span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonLogin:hover span {
  padding-right: 25px;
}
.buttonLogin:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonLogin:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgb(240, 238, 238);
  transform: translateY(4px);
}
.buttonLogin:hover {
  background-color: #19d31f;
  box-shadow: 0 12px 16px 0 rgba(87, 238, 27, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* ============================================================ */
.buttonRegistration {
  /*REGISTRATION*/
  background-color: #07a70c;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 35px;
  letter-spacing: 1px;
  margin-left: 2%;
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 19px;
}

.buttonRegistration:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgb(240, 238, 238);
  transform: translateY(4px);
}
.buttonRegistration:hover {
  background-color: #19d31f;
  box-shadow: 0 12px 16px 0 rgba(87, 238, 27, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* ========================================================= */
/* from auth to registr */
.buttonGoToRegistration {
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  letter-spacing: 1px;
  color: rgb(82, 80, 79);
  padding: 3px 35px;
  border-radius: 8px;
  font-size: 19px;
  margin-left: 2%;
  margin-top: 15px;
}
.buttonGoToRegistration:hover {
  background-color: #b0c4cf;
  box-shadow: 0 12px 16px 0 rgba(43, 47, 48, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.buttonGoToRegistration:active {
  box-shadow: 0 5px rgb(240, 238, 238);
  transform: translateY(4px);
}
.buttonGoToRegistration span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonGoToRegistration span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonGoToRegistration:hover span {
  padding-right: 25px;
}
.buttonGoToRegistration:hover span:after {
  opacity: 1;
  right: 0;
}
/* ==================================================== */
/* from registr back to auth */
.buttonGoToAuth {
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  letter-spacing: 1px;
  padding: 3px 25px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 2%;
  margin-bottom: 10px;
}
.buttonGoToAuth:hover {
  background-color: #eeebeb;
  box-shadow: 0 10px 12px 0 rgba(15, 14, 14, 0.24),
    0 17px 50px 0 rgba(19, 16, 16, 0.19);
}
.buttonGoToAuth span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonGoToAuth span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -80px;
  transition: 0.5s;
}
.buttonGoToAuth:hover span {
  padding-left: 25px;
}
.buttonGoToAuth:hover span:after {
  opacity: 1;
  right: 0;
}
/* =========================================================== */
.buttonLogout {
  /*LOGOUT*/
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 88%;
  margin-top: 15px;
}
.buttonLogout:hover {
  background-color: #fd0a0a;
  box-shadow: 0 12px 16px 0 rgba(248, 14, 14, 0.24),
    0 17px 50px 0 rgba(241, 10, 10, 0.19);
}
.buttonLogout:active {
  background-color: #fd0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* =========================================================== */

.buttonMyPosts {
  background-color: #07a70c;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 8px 14px;
  border-radius: 50%;
  font-size: 18px;
  margin-left: 91%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.buttonMyPosts:hover {
  background-color: #19d31f;
  box-shadow: 0 12px 16px 0 rgba(34, 30, 30, 0.24),
    0 17px 50px 0 rgba(36, 33, 33, 0.19);
}
.buttonMyPosts:active {
  background-color: #19d31f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ========================================================== */
.buttonToDraft {
  background-color: #a8660f;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 87.7%;
}
.buttonToDraft:hover {
  background-color: #fd0a0a;
  box-shadow: 0 12px 16px 0 rgba(248, 14, 14, 0.24),
    0 17px 50px 0 rgba(241, 10, 10, 0.19);
}
.buttonToDraft:active {
  background-color: #fd0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ========================================================== */
.buttonToDelete {
  background-color: #e94326;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 26px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 87.7%;
}
.buttonToDelete:hover {
  background-color: #fd0a0a;
  box-shadow: 0 12px 16px 0 rgba(248, 14, 14, 0.24),
    0 17px 50px 0 rgba(241, 10, 10, 0.19);
}
.buttonToDelete:active {
  background-color: #fd0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ================================================================ */
.buttonToDelete_in_post {
  background-color: #e94326;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 24px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 80%;
  margin-top: 10px;
}
.buttonToDelete_in_post:hover {
  background-color: #fd0a0a;
  box-shadow: 0 12px 16px 0 rgba(248, 14, 14, 0.24),
    0 17px 50px 0 rgba(241, 10, 10, 0.19);
}
.buttonToDelete_in_post:active {
  background-color: #fd0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ============================================================= */
.buttonPost {
  background-color: #07a70c;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 30px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 80%;
  margin-bottom: 10px;
}
.buttonPost:hover {
  background-color: #19d31f;
  box-shadow: 0 12px 16px 0 rgba(108, 248, 14, 0.24),
    0 17px 50px 0 rgba(75, 241, 10, 0.19);
}
.buttonPost:active {
  background-color: #19d31f;
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}
/* ================================================================= */
.buttonGoToUpdate {
  background-color: #0769f1;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 80%;
}
.buttonGoToUpdate:hover {
  background-color: #4ee7e7;
  box-shadow: 0 12px 16px 0 rgba(14, 201, 248, 0.24),
    0 17px 50px 0 rgba(10, 226, 241, 0.19);
}
.buttonGoToUpdate:active {
  background-color: #1a74e9;
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}
/* ============================================================== */
.button_all {
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 37px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 2%;
  margin-top: 15px;
}
.button_all:hover {
  background-color: #1a74e9;
  box-shadow: 0 12px 16px 0 rgba(30, 83, 230, 0.24),
    0 17px 50px 0 rgba(30, 83, 230, 0.24);
}
.button_all:active {
  background-color: #1a74e9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* =========================================================== */
.button_draft {
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 27px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 2%;
}
.button_draft:hover {
  background-color: #f76816;
  box-shadow: 0 12px 16px 0 rgba(228, 133, 8, 0.24),
    0 17px 50px 0 rgba(245, 133, 4, 0.19);
}
.button_draft:active {
  background-color: #f76816;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ========================================================== */
.button_posted {
  background-color: #949eac;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 17px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 2%;
}
.button_posted:hover {
  background-color: #5ce91a;
  box-shadow: 0 12px 16px 0 rgba(119, 248, 14, 0.24),
    0 17px 50px 0 rgba(141, 241, 10, 0.19);
}
.button_posted:active {
  background-color: #5ce91a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* =================================================================== */
.buttonCreateNewPost {
  /*CREATE POST*/
  background-color: #07a70c;
  /* border: 2px solid #1b1b1b; */
  color: rgb(243, 231, 224);
  padding: 3px 18px;
  letter-spacing: 1px;
  margin-left: 74.6%;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 18px;
}
.buttonCreateNewPost span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonCreateNewPost span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonCreateNewPost:hover span {
  padding-right: 25px;
}
.buttonCreateNewPost:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonCreateNewPost:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgb(240, 238, 238);
  transform: translateY(4px);
}
.buttonCreateNewPost:hover {
  background-color: #19d31f;
  box-shadow: 0 12px 16px 0 rgba(87, 238, 27, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* ====================================================================== */
.buttonUpdate {
  background-color: #0769f1;
  /* border: 2px solid #1b1b1b; */
  color: rgb(82, 80, 79);
  padding: 3px 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 2%;
}
.buttonUpdate:hover {
  background-color: #4ee7e7;
  box-shadow: 0 12px 16px 0 rgba(14, 201, 248, 0.24),
    0 17px 50px 0 rgba(10, 226, 241, 0.19);
}
.buttonUpdate:active {
  background-color: #1a74e9;
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}
/* =================================================================== */
.buttonComment {
  background-color: #010813;
  /* border: 2px solid #1b1b1b; */
  color: rgb(233, 217, 208);
  padding: 2px 15px;
  border-radius: 8px;
  font-size: 15px;
}
.buttonComment:hover {
  background-color: #e6dbdb;
  color: rgb(20, 22, 24);
  box-shadow: 0 12px 16px 0 rgba(253, 249, 249, 0.24),
    0 17px 50px 0 rgba(238, 234, 234, 0.19);
}
.buttonComment:active {
  background-color: #ece1e1;
  box-shadow: 0 5px rgb(243, 237, 237);
  transform: translateY(4px);
}
/* ====================================================================== */
.buttonPage {
  background-color: #010813;
  /* border: 2px solid #1b1b1b; */
  color: rgb(233, 217, 208);
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 15px;
}
.buttonPage:hover {
  background-color: #e6dbdb;
  color: rgb(20, 22, 24);
  box-shadow: 0 12px 16px 0 rgba(253, 249, 249, 0.24),
    0 17px 50px 0 rgba(238, 234, 234, 0.19);
}
.buttonPage:active {
  background-color: #ece1e1;
  box-shadow: 0 5px rgb(243, 237, 237);
  transform: translateY(4px);
}
/* ====================================================================== */
.buttonStatistics {
  background-color: #a00ebd;
  /* border: 2px solid #1b1b1b; */
  color: rgb(243, 231, 224);
  padding: 3px 50px;
  letter-spacing: 1px;
  margin-left: 74.6%;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 18px;
}
.buttonStatistics span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonStatistics span:after {
  content: "\27A0";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonStatistics:hover span {
  padding-right: 25px;
}
.buttonStatistics:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonStatistics:active {
  background-color: #dc16f7;
  box-shadow: 0 5px rgb(204, 18, 221);
  transform: translateY(4px);
}
.buttonStatistics:hover {
  background-color: #dc16f7;
  box-shadow: 0 12px 16px 0 rgba(226, 5, 215, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* ============================================================ */
.buttonRemoveUser {
  background-color: rgb(214, 30, 23);
  border-radius: 10px;
  letter-spacing: 1px;
  color: rgb(243, 231, 224);
  padding: 3px 20px;
  margin-top: 10px;
  margin-left: 74.6%;
  text-align: center;
  border-radius: 8px;
  font-size: 19px;
}
.buttonRemoveUser span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonRemoveUser span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonRemoveUser:hover span {
  padding-right: 25px;
}
.buttonRemoveUser:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonRemoveUser:hover {
  background-color: #f14141;
  box-shadow: 0 17px 50px 0 rgba(223, 35, 35, 0.19);
}
/* ============================================================ */
.no_remove_button {
  background-color: #184903;
  /* border: 2px solid #1b1b1b; */
  color: rgb(241, 236, 233);
  padding: 3px 17px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 40%;
  margin-top: 20px;
}
.no_remove_button:hover {
  background-color: #5ce91a;
  color: rgb(14, 12, 11);
  box-shadow: 0 12px 16px 0 rgba(119, 248, 14, 0.24),
    0 17px 50px 0 rgba(141, 241, 10, 0.19);
}
.no_remove_button:active {
  background-color: #5ce91a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ============================================================ */
.yes_remove_button {
  background-color: rgb(214, 30, 23);
  color: rgb(241, 236, 233);
  padding: 3px 17px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 3%;
  margin-top: 20px;
}
.yes_remove_button:hover {
  background-color: #f14141;
  box-shadow: 0 12px 16px 0 rgba(248, 69, 14, 0.24),
    0 17px 50px 0 rgba(241, 10, 10, 0.19);
}
.yes_remove_button:active {
  background-color: #ee120a;
  box-shadow: 0 5px rgb(240, 22, 22);
  transform: translateY(4px);
}
/* ========================================================== */
.password_table {
  background-color: #949eac;
  border: 2px solid #1b1b1b;
  width: 488px;
  height: 26px;
  padding-left: 55px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
  margin-left: 2%;
}
.login_table {
  background-color: #949eac;
  border: 2px solid #1b1b1b;
  width: 440px;
  height: 26px;
  padding-left: 103px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
  margin-left: 2%;
}
.input {
  width: 150px;
  border-radius: 8px;
}
.comment_table {
  background-color: #949eac;
  width: 400px;
  height: 26px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  margin: 15px;
  margin-left: 50%;
}
.name_table {
  background-color: #949eac;
  border: 2px solid #1b1b1b;
  width: 435px;
  height: 26px;
  padding-left: 108px;
  padding-top: 17px;
  padding-bottom: 30px;
  border-radius: 8px;
  margin: 15px;
  margin-left: 2%;
}
.login_password_text {
  letter-spacing: 3px; /*отступ между буквами*/
  font-style: oblique; /*стиль шрифта*/
  font-size: 25px; /* размер букв */
  color: rgb(111, 116, 129); /*   цвет букв */
}
.input_login_password {
  width: 250px;
  height: 33px;
  border-radius: 8px;
}

.login_password_text {
  letter-spacing: 2px; /*отступ между буквами*/
  font-style: italic; /*стиль шрифта*/
  font-size: 20px; /* размер букв */
  color: rgb(82, 80, 79);
}
.no_posts_table {
  background-color: #8e9192;
  border-radius: 8px;
  width: 70%;
  padding-left: 55px;
  padding-top: 13px;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-left: 10%;
}
.delete_user_table {
  background-color: #8e9192;
  border-radius: 8px;
  width: 55%;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-left: 19%;
}

.no_posts_text {
  letter-spacing: 3px;
  font-style: italic;
  font-size: 25px;
  color: rgb(82, 80, 79);
  text-decoration: underline;
  margin-left: 30%;
}

.delete_user_text {
  letter-spacing: 3px;
  font-style: italic;
  font-size: 20px;
  color: rgb(82, 80, 79);
  text-decoration: underline;
  margin-left: 40%;
}

.paginationButtonsBlock {
  margin-left: 40%;
  margin-top: 20px;
}

.img {
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}
